/* Normalize css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */


main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;


}

.information{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}



body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: white;
}

header{
   text-align: end;
   
}

.planet-box{
    width: 1168px;
    height: 188px; 
    flex-grow: 1;
}

.subtract{

    width: 118px;
    height: 740.12px;
}

.rings{
    position: relative;
}

.information {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    width: 33%;
}


.titles{
    grid-column: 1;
}

.description{
    grid-column:  span 2;
}

.radius{
    grid-column: 1/2;
}
.distanceFromSun{
    grid-column: 2/3;
}

.maxTemp{
    grid-column: 1/2;
}
.minTemp{
    grid-column: 2/3;
}

.moons{
    grid-column: 1;
}